body {
  font-family:'Georgia', serif;
  font-size:12px;
  line-height:15px;
}

a {
  color:#000;
}

h1 {
  font-weight:bold;
  font-size:14px;
  line-height:20px;
  padding:10px;
}

.left {
  display:none;
}

.right {
}

h2 {
  padding:5px 10px 0;
  border-bottom:1px dotted #000;
}

h2 a {
  text-decoration:none;
}

ul.symbolizer, ul.values {
  list-style-type:none;
}

ul.symbolizer li, ul.values li {
  padding:10px 10px;
}

span.css {
  font-size:14px;
  line-height:20px;
}

span.css a {
  text-decoration:none;
}

.type {
  background:#ffe8e1;
  padding:2px 4px;
  border-radius:5px;
}

div.description, div.right p {
  font-size:12px;
  line-height:20px;
}

div.footnote {
  padding:5px 0;
}

div.footnote p {
  font-size:14px;
  line-height:20px;
  padding:5px 10px;
  font-style:italic;
  color:#000;
}

.toc h3 {
  padding:0px 10px 5px 10px;
  font-size:12px;
  font-weight:bold;
  line-height:20px;
}

div.values p {
  padding:10px;
}

div.values pre {
  padding:0 10px;
  margin-bottom:5px;
  font-size:12px;
  line-height:15px;
  font-family:monospace;
}

code {
  font-family:monospace;
}

.hl {
  background:#FDFFE4;
}

.hl h2 {
  font-weight:bold;
}
