/* ### General Styles ### */
#nav { padding-left:160px; }
#nav .logos {
  text-align:left;
  position:absolute;
  left:0px;
  top:10px;
  }
#tilemill-logo {
  width:160px;
  height:60px;
  display:block;
  text-indent:-999px;
  overflow:hidden;
  background:transparent url(../../img/tilemill-sprite.png) no-repeat 0 0;
  }
#nav .logos .attribution {
  position:absolute;
  left:60px;
  top:40px;
  white-space:nowrap;
  }
#nav { text-align:left; }
@media only screen and (max-width: 640px) {
  .footer .col3 { border-color: #28353D; }
  .mobile-hide { display: none;}
}

.doc-nav .nav li.active a {
  background-color:#ecf5fa;
  color:#3C4E5A;
  }

span.args,
span.bracket { color:#888; }

#docs .args,
#docs .bracket {
  font-weight:normal;
  margin:0 2px;
  }

.doc h1 + p {
  margin-top: -10px;
  padding-bottom: 20px;
  }

.warn {
  font-size:15px;
  background:#ee8a65;
  border-color:#c64;
  min-height:60px;
  color:white;
  }
  .warn a {
    color:#842;
    font-weight:bold;
    }

.separator {
  margin:0 0 20px;
  font-size:24px;
  line-height:1.2500em;
  }

.doc-nav li h4 { margin:10px 0 0; }
.doc-footer {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  text-align:center;
  }

h3 small {
  display:inline-block;
  }
#docs small strong {
  font-weight:bold;
  font-style:normal;
  color:#3C4E5A;
  }

@media only screen and (max-width: 640px) {
  .doc-footer {
    border-left:none;
  }
}
.five-links a { width:20%; }
.ad-support { text-align:right; }
.ad-support a { margin-top:10px; }
@media (max-width:640px) {
  .five-links a { width:100%; }
  .ad-support { text-align:center; }
  .doc-header h2 { padding-bottom: 20px; }
  .doc-subnav li { width:100%; margin-bottom:1px; }
}
