/* TileMill masthead override */
#tilemill-logo {
  width:125px;
  height:60px;
  display:block;
  text-indent:-999px;
  overflow:hidden;
  background:transparent url(../../img/tilemill-sprite.png) no-repeat 0 0;
  }

#nav > .mb-logo,
#nav > .mb-logo-thumb,
#nav > div > a:not(.droplink) { display:none; }

/* Base Candidate */
.doc-nav a:hover,
.doc-nav .active {
  background-color:#f8f8f8;
  }

.version,
.version:hover {
  color:rgba(0,0,0,0.75);
  }
  .version > *{
    padding:2px 5px;
    }

/* ### General Styles ### */
span.args,
span.bracket { color:#888; }

#docs .args,
#docs .bracket {
  font-weight:normal;
  margin:0 2px;
  }

.doc-footer {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  text-align:center;
  }

@media only screen and (max-width: 640px) {
  .doc-footer {
    border-left:none;
  }
}
.five-links a { width:20%; }
.ad-support { text-align:right; }
.ad-support a { margin-top:10px; }
@media (max-width:640px) {
  .five-links a { width:100%; }
  .ad-support { text-align:center; }
  .doc-header h2 { padding-bottom: 20px; }
  .doc-subnav li { width:100%; margin-bottom:1px; }
}
