/* ### General Styles ### */
.branding .logo {
  background:transparent url(../../img/tilemill-sprite.png) no-repeat 0 0;
  }
.branding .attribution {
  position:absolute;
  left:100px;
  top:50px;
  }
  .branding .attribution .small-mapbox {
    display: inline-block;
    background: url(../../img/tilemill-sprite.png);
    background-position:2px -74px;
    background-repeat:no-repeat;
    width: 70px;
    text-indent: -9999px;
    overflow: hidden;
    }

@media only screen and (max-width: 640px) {
  .footer .col3 { border-color: #28353D; }
  .branding .attribution {
  width: 90px;
  left: 50px;
  right: 0;
  margin: 0px auto;
  }
  .mobile-hide { display: none;}
}

.doc-search input {
  width:95%;
  height:40px;
  padding:10px 40px 10px 8px;
  }
  .doc-search span {
    position:absolute;
    top:10px;
    right:10%;
    margin-right:10px;
    }

.doc-nav .nav li.active a {
  background-color:#ecf5fa;
  color:#3C4E5A;
  }

span.args,
span.bracket { color:#888; }

#docs .args,
#docs .bracket {
  font-weight:normal;
  margin:0 2px;
  }

.doc h1 + p {
  margin-top: -10px;
  padding-bottom: 20px;
  }

.warn {
  font-size:15px;
  background:#ee8a65;
  border-color:#c64;
  min-height:60px;
  color:white;
  }
  .warn a {
    color:#842;
    font-weight:bold;
    }

.separator {
  margin:0 0 20px;
  font-size:24px;
  line-height:1.2500em;
  }

.doc-nav li h4 { margin:10px 0 0; }
.doc-footer {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  text-align:center;
  }

h3 small {
  display:inline-block;
  }
#docs small strong {
  font-weight:bold;
  font-style:normal;
  color:#3C4E5A;
  }

@media only screen and (max-width: 640px) {
  .doc-footer {
    border-left:none;
  }
}
.five-links a { width:20%; }
.ad-support { text-align:right; }
.ad-support a { margin-top:10px; }
@media (max-width:640px) {
  .five-links a { width:100%; }
  .ad-support { text-align:center; }
  .doc-header h2 { padding-bottom: 20px; }
  .doc-subnav li { width:100%; margin-bottom:1px; }
}
