/* Base Candidate */
.doc-nav a:hover,
.doc-nav .active {
  background-color:#f8f8f8;
  }

/* ### General Styles ### */
#nav {
  padding-left:160px;
  text-align:left;
  }
#nav .logos {
  text-align:left;
  position:absolute;
  left:0px;
  top:10px;
  }
#tilemill-logo {
  width:160px;
  height:60px;
  display:block;
  text-indent:-999px;
  overflow:hidden;
  background:transparent url(../../img/tilemill-sprite.png) no-repeat 0 0;
  }
#nav .logos .attribution {
  position:absolute;
  left:60px;
  top:40px;
  white-space:nowrap;
  }
span.args,
span.bracket { color:#888; }

#docs .args,
#docs .bracket {
  font-weight:normal;
  margin:0 2px;
  }

.doc-footer {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  text-align:center;
  }

@media only screen and (max-width: 640px) {
  .doc-footer {
    border-left:none;
  }
}
.five-links a { width:20%; }
.ad-support { text-align:right; }
.ad-support a { margin-top:10px; }
@media (max-width:640px) {
  .five-links a { width:100%; }
  .ad-support { text-align:center; }
  .doc-header h2 { padding-bottom: 20px; }
  .doc-subnav li { width:100%; margin-bottom:1px; }
}
