---
layout: default
section: developers
class: box
---

<div class='doc-page pad3c fillM clearfix'>
  <div class='fillW clearfix'>
    {{content}}
    <div class='doc-footer'>
      <div class='pad2'>
      The code and documentation to <a href='http://github.com/mapbox/carto'>CartoCSS is hosted on GitHub</a> where you can contribute changes and improvements.
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var docs = new Docs();
    docs.colorCode();
    docs.bindSearch($('.doc-search input'), $('.doc-nav ul'), true);
    docs.bindInlineCode();
    $(mapbox.docs);
  });
</script>
