---
layout: default
section: help
---
{% if page.section == 'help' %}
<div class='clearfix doc-header pad4 fill-light'>
  <div class='col3'>
    <h2>Help</h2>
  </div>
  <nav class='col9 pill clearfix five-links'>
    <a href='{{site.baseurl}}/docs/install' class='button'>Installation</a><a href='{{site.baseurl}}/docs/crashcourse/introduction' class='button'>Crashcourse</a><a href='{{site.baseurl}}/docs/guides/add-shapefile' class='button'>Guides</a><a href='{{site.baseurl}}/docs/manual/' class='button'>Reference</a><a href='{{site.url}}/carto' class='button active' >CartoCSS Reference</a></li>
  </nav>
</div>
{% endif %}

<div class='doc-page pad4c fill-grey keyline-left clearfix'>
  <div class='fill-white prose clearfix'>
    {{content}}
  </div>
</div>

{% include tilemill-footer.html %}

<script>
  $(function() {
    var docs = new Docs();
    docs.colorCode();
    docs.bindSearch($('.doc-search input'), $('nav.v'), true);
    docs.bindInlineCode();
  });
</script>
