---
layout: tilemill
section: developers
version: v0.9.5
---

<div class='clearfix limiter'>
  <div class='pad4y'>
    <h3 class='tag small'>
      <a href='{{site.url}}/{{page.section|downcase}}' class='quiet'>{{page.section}}</a>
    </h3>
    <h2>
      CartoCSS
      <a class='version' href='https://github.com/mapbox/carto/blob/master/CHANGELOG.md#{{site.cartocss|replace:'.', ''}}'>
        <sup class='fill-grey small'>{{site.cartocss}}</sup>
      </a>
    </h2>
  </div>
  <nav class='col12 space-bottom pill clearfix five-links'>
    <a href='{{site.url}}/tilemill/docs/install' class='truncate button'>Installation</a><a href='{{site.url}}/tilemill/docs/crashcourse/introduction' class='truncate button'>Crashcourse</a><a href='{{site.url}}/tilemill/docs/guides/add-shapefile' class='truncate button'>Guides</a><a href='{{site.url}}/tilemill/docs/manual/' class='truncate button'>Reference</a><a href='{{site.url}}/carto' class='truncate button active' >CartoCSS Reference</a></li>
  </nav>
</div>

<div class='doc-page limiter keyline-all clearfix'>
  <div class='col12 clearfix'>
    {{content}}
  </div>
</div>

{% include tilemill-footer.html %}

<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script>
  $(function() {
    var docs = new Docs();
    docs.bindSearch($('.doc-search input'), $('.doc-nav'), true);
    docs.bindInlineCode();
  });
</script>
